<h1 mat-dialog-title>Project editing</h1>
<form [formGroup]="editingForm" novalidate>
  <div mat-dialog-content class="container">
    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Title</mat-label>
      <input
        formControlName="title"
        matInput
        [(ngModel)]="data.title">
      <mat-error *ngIf="editingForm.get('title')?.hasError('required') || editingForm.get('title')?.hasError('whitespace')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput
        (change)="changeDescription($event)"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5">{{data.description}}</textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onDeclineClick()">Decline</button>
    <button
      [disabled]="editingForm.invalid"
      mat-button
      (click)="onSubmitClick()"
      cdkFocusInitial>Ok</button>
  </div>
</form>
