<h1 mat-dialog-title>Project editing</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>What's your name?</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>What's your name?</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onDeclineClick()">Decline</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
