.container{
  height: 500px;
  width: 400px;
}

.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon{
  transition: 300ms;
}

.icon:hover{
  cursor: pointer;
}

.icon_add:hover{
  color: rgb(18, 163, 30);
  transition: 300ms;
}

.icon_remove:hover{
  color: rgb(199, 29, 29);
  transition: 300ms;
}
