<div class="header">
    <div class="logo">
        <img
            class="logo__image"
            src="assets/logo.png">
        <h1 class="logo__title">Jira pet</h1>
    </div>
    <div class="menu" *ngIf="isAuthorized; else authButtons">
      <span class="profile__text">{{username}}</span>
      <img
        class="profile__image"
        [src]="avatar">
    </div>

    <ng-template #authButtons>
      <div class="menu">
          <a routerLink="/login"><div class="menu_button"><span class="menu_button__text">LOGIN</span></div></a>
          <a routerLink="/registration"><div class="menu_button"><span class="menu_button__text">SIGN UP</span></div></a>
      </div>
    </ng-template>
</div>
<div *ngIf="isLoading" class="progress_bar">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
