<div class="header">
    <div class="logo">
        <img
            class="logo__image"
            src="assets/logo.png">
        <h1 class="logo__title">Jira pet</h1>
    </div>
    <div class="menu">
        <div class="menu_button">
            <a routerLink="/login"><span class="menu_button__text">LOGIN</span></a>
        </div>
        <div class="menu_button">
            <a routerLink="/registration"><span class="menu_button__text">SIGN UP</span></a>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="progress_bar">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
