<div class="container">
  <div class="task_creation_container">
    <h1>Task creation</h1>
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Some task details..."></textarea>
        </mat-form-field>

        <div class="task_info">
          <mat-form-field class="form-select" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let type of types" [value]="type.title">
                {{type.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option *ngFor="let status of statuses" [value]="status.title">
                {{status.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Assign to execute</mat-label>
          <mat-select>
            <mat-option *ngFor="let user of users" [value]="user.name">
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Alloted time</h4>
        <div class="time_container">
          <mat-form-field appearance="fill">
            <mat-label>Days</mat-label>
            <input type="number" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Hours</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </div>

        <h4>Attachments</h4>
        <div class="files_container">
          <label class="file_picker">
            <span>+</span>
            <input type="file" class="form__picker" (change)="onPickFile($event)" placeholder="Upload file" accept=".png,.jpeg,.jpg,.gif">
          </label>

          <div *ngFor="let file of files" class="file_list_item"><div class="file_list_item_delete" (click)="deleteFile(file)"><mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon></div></div>
        </div>

        <div class="actions_container">
          <button
            mat-button color="primary">Cancel</button>
          <button
            class="create_task_button"
            mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
