.container{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
}

.form__input{
  width: 100%;
  margin-bottom: 5px;
}

.form__button_next{
  margin-top: 30px;
}

.stepper{
  height: 350px;
}

.congratulations{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.congratulations__title{
  font-size: 30px;
  margin-bottom: 10px;
}


.congratulations__description{
  margin-bottom: 30px;
}
