<h1 mat-dialog-title>Project creating</h1>
<mat-stepper class="stepper" [linear]="true" #stepper>
  <mat-step editable="false" [stepControl]="creatingForm" >
    <form [formGroup]="creatingForm">
      <ng-template matStepLabel>Fill out project data</ng-template>
      <div class="container">
        <mat-form-field class="form__input" appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Project title"
            formControlName="title" >
          <mat-error *ngIf="creatingForm.get('title')?.hasError('required') || creatingForm.get('title')?.hasError('whitespace')">
            Title is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="creatingForm.get('title')?.hasError('projectExists')">
            Project already exists
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form__input"appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput
            (change)="changeDescription($event)"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5">{{description}}</textarea>
        </mat-form-field>
        <div>
          <button
            (click)="createNewProject(stepper)"
            [disabled]="creatingForm.invalid"
            mat-button>Next</button>
        </div>
    </div>
    </form>
  </mat-step>
  <mat-step editable="false" [stepControl]="creatingForm" label="Select members">
    <div>
      <button (click)="skipStep(stepper)" mat-button>Skip</button>
      <button
        (click)="addUsersToCreatedProject(stepper)"
        mat-button>Next</button>
    </div>
    <div>
      <mat-selection-list #allusers>
        <mat-list-option *ngFor="let user of this.allUsers" (click)="changeUserStatus(user)">
          {{user.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="congratulations">
      <p class="congratulations__title">Congratulations!</p>
      <p class="congratulations__description">You have created a new project!</p>
      <button mat-raised-button color="primary" (click)="this.closeDialog()">Back to projects</button>
    </div>
  </mat-step>
</mat-stepper>
