<div class="container">
  <div class="task_list_container">
    <h1>Tasks</h1>
  <button
      (click)="openCreatingTaskPage()"
      class="create_task_button"
      mat-raised-button color="primary">Add task</button>
  <div>
    <mat-selection-list #taskList [multiple]="false">
      <mat-list-option *ngFor="let task of tasks" [value]="task">
        <div class="task" (click)="openTaskDetails(task)">
          <span>{{task.title}}</span>
          <div class="task_info">
            <span class="task_user">{{task.user?.name}}</span>
            <span [ngStyle]="{'background-color': task.status.color}" class="task_status">{{task.status.title}}</span>
            <span [ngStyle]="{'background-color': task.type.color}" class="task_type">{{task.type.title}}</span>
            <div (click)="openTaskEditing(task)">
              <mat-icon class="icon icon_edit" aria-hidden="false" aria-label="Example home icon">edit_outline</mat-icon>
            </div>
            <div (click)="deleteTask(task)">
              <mat-icon class="icon icon_delete" aria-hidden="false" aria-label="Example home icon">delete_outline</mat-icon>
            </div>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
