<div class="welcome">
    <span class="welcome__title">
        Hello, mom enjoyer!
    </span>
    <span class="welcome__description">
        Now you are looking at site from the most useless EPAM Senior Software Engineer. 
        But I'm extremely sure that you are fully stupid in web development and can't see the difference between best practices and this shit in Angular.
    </span>
    <span class="welcome__description">
        And I fucked mobile adaptation. Despite that I am mobile developer.<br/>
        So have fun in clicking buttons. Good luck...
    </span>
    <div class="welcome_button">
        <span class="welcome_button__text">BUTTON</span>
    </div>
</div>
