<div class="container">
    <form [formGroup]="registrationForm" novalidate>
        <div class="form">
            <span class="form__title">Registration</span>

            <label class="image_picker">
              <img *ngIf="url; else imageStub" class="image_picker__inner" [src]="imageUrl">
              <ng-template #imageStub>
                <span class="image_picker__text">Choose<br>avatar</span>
              </ng-template>
              <input type="file" class="form__picker" (change)="onImageChange($event)" placeholder="Upload file" accept=".png,.jpeg,.jpg,.gif">
            </label>

            <mat-form-field class="form__input" appearance="fill">
              <mat-label>Enter your name</mat-label>
              <input
                matInput
                placeholder="Name"
                formControlName="name">
                <mat-error *ngIf="registrationForm.get('name')?.hasError('required') || registrationForm.get('name')?.hasError('whitespace')">
                  Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form__input" appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                type="email">
                <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
                  Email is not correct
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form__input" appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password">
                <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
                  Minimum password lenght is <strong>6</strong> symbols
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form__input" appearance="fill">
              <mat-label>Repeat password</mat-label>
              <input
                [errorStateMatcher]="matcher"
                matInput
                placeholder="Repeat password"
                formControlName="repeatPassword"
                type="password">
                <mat-error *ngIf="registrationForm.get('repeatPassword')?.hasError('required')">
                  Repeated password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registrationForm.hasError('notSame')" >
                  Passwords are not the same
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form__input">
              <mat-label>Choose the role</mat-label>
              <mat-select formControlName="role">
                <mat-option value="USER">User</mat-option>
                <mat-option value="ADMIN">Admin</mat-option>
              </mat-select>
              <mat-error *ngIf="registrationForm.get('repeatPassword')?.hasError('required')">
                Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <button
                mat-raised-button color="primary"
                [disabled]="registrationForm.invalid"
                (click)="registration()">Sing up</button>
        </div>
    </form>
</div>
